.social {
    max-width: inherit;
    margin-right: 23px;
}

.socil-links__title {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(38, 36, 36);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.social-links__list {
    display: flex;
    justify-content: center;
}

.social-links {
    list-style-type: none;
    vertical-align: middle;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.links-pic {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.social-links:last-child {
    margin-right: 0;
}