.page-content {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.sidebar {
    margin-right: 72px;
}

.menu__list {
    text-decoration: none;
}

.menu__item {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(89, 114, 177);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__link:before {
    content: "";
    display: inline-block;
    margin-right: 13px;
    width: 23px;
    height: 18px;
}

.menu__link {
    text-decoration: none;
    color: #5972b1;
}

.menu__item--icon--main .menu__link:before {
    background-image: url('./img/menubar/main_icon_blue.png');
}

.menu__item--icon--feed .menu__link:before {
    background-image: url('./img/menubar/feed_icon_black.png');
}

.menu__item--icon--team .menu__link:before {
    background-image: url('./img/menubar/team_icon.png');
}

.menu__link.visited {
    text-decoration: none;
    color: #000;
}

.menu__link:hover {
    color: black;
}

.breadcrumbs {
    margin-bottom: 27px;
}

.breadcrumbs__menu {
    margin: 0;
    font-family: "Roboto";
}

.breadcrumbs__item,
.breadcrumbs__link {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #5972b1;
}

.breadcrumbs__link.active {
    color: #000;
    text-decoration: none;
}


/*--------F E E D B A C K--------*/

.feedback {
    margin-bottom: 55px;
}

.feedback__main-title {
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #262424;
    margin-top: 0;
    margin-bottom: 50x;
}

.feedback__content {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 50px;
}

.content {
    display: flex;
    margin-bottom: 50px;
}

.content:last-child {
    margin-bottom: 0;
}

.content__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 185px;
    margin-right: 20px;
}

.icon__img {
    border-radius: 50%;
}

.content__date {
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    color: #656464;
    margin-bottom: 15px;
}

.content__title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #262424;
    margin-top: 0;
    margin-bottom: 25px;
}

.content__text {
    width: 700px;
}

.content__text p {
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #262424;
}

.pagination {
    margin-bottom: 50px;
}


/*   ------N O T I C E-----   */

.notice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 43px;
    background-color: #76b46f;
    margin-bottom: 60px;
}

.notice p {
    width: 625px;
    font-family: "Roboto";
    color: #fff;
}

.request-page {
    color: #fff;
    font-weight: bold;
}

.request-phone {
    color: #fff;
    font-weight: bold;
}


/*   ------F O R M -----   */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: #f4f4f4;
    padding-top: 52px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    width: 700px;
    font-family: "Roboto";
    margin-bottom: 60px;
}

.form__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 49px;
    font-family: "Roboto";
    color: rgb(38, 36, 36);
    font-weight: bold;
}

.form__elem-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.form__row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Roboto";
}

.form__row:last-child {
    margin-bottom: 0;
}

.form__input--textarea {
    color: rgb(38, 36, 36);
    border: 3px #5972b1;
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
}

.form__block {
    margin-right: 25px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.form__block:nth-child(2n),
.form__block:last-child {
    margin-right: 0;
}

.form__input {
    background: #fff;
    width: 100%;
    padding: 12px 9px;
    border: none;
}

.form__buttons {
    border-radius: 5%;
}

.switch-controls__radio {
    margin-right: 5px;
}

.switch-controls__title {
    font-size: 14px;
    font-family: "Roboto";
}

.switch-contols {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-controls__buttons {
    display: flex;
    justify-content: space-around;
}

.switch-controls__elem:active {
    color: #5972b1;
}

.radio {
    margin-right: 20px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 155px;
    background-color: #5972b1;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    font-weight: bold;
}

.btn:after {
    content: url(./img/main_icon_white.png);
    margin-left: 10px;
}