* {
    box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
    min-height: 1100px;
}

body {
    margin: 0;
}

.page-content {
    margin: 0 auto;
    width: 1100px;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.main-block {
    display: inline-block;
}

.header {
    background-color: #5973b1;
    padding-top: 20px;
    padding-left: 20px;
}

.header__container {
    height: 76px;
    width: 1100px;
}

.conteiner {
    margin: 0 auto;
    position: relative;
}

.logo__img {
    position: absolute;
}

.banner {
    display: inline-block;
}

.banner__img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.contacts {
    position: absolute;
    right: 20px;
    text-align: right;
}

.contacts__phone {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
}

.contacts__workhours {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.menubar {
    display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 1700px;
    margin-top: 45px;
}

.menubar__content {
    text-decoration: none;
}

.menubar__item {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(89, 114, 177);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.menubar__item:last-child {
    margin-bottom: 0;
}

.menubar__link:before {
    content: "";
    display: inline-block;
    margin-right: 13px;
    width: 23px;
    height: 18px;
}

.menubar__link--visited:before {
    content: "";
    display: inline-block;
    margin-right: 13px;
    width: 23px;
    height: 18px;
}

.menubar__link {
    text-decoration: none;
    color: #5972b1;
}

.menubar__link:visited {
    color: #5972b1;
}

.menubar__item--icon--main .menubar__link--visited:before {
    background-image: url('./img/menubar/main_icon.png');
}

.menubar__item--icon--feed .menubar__link:before {
    background-image: url('./img/menubar/feed_icon.png');
}

.menubar__item--icon--team .menubar__link:before {
    background-image: url('./img/menubar/team_icon.png');
}

.menubar__link--visited {
    text-decoration: none;
    color: #000;
}


/*кейс 'ТАРИФЫ' начало*/

.tariff {
    margin-bottom: 105px;
}

.tariff__main-title {
    position: relative;
    width: 181px;
    height: 60px;
    font-family: Roboto;
    font-size: 49px;
    font-weight: bold;
    color: #262424;
    margin-bottom: 70px;
}


/*БЛОК ТАРИФА*/

.tariff__opt-variation {
    display: inline-block;
    width: 255px;
    vertical-align: text-bottom;
    margin-left: 0;
}


/*БЛОК КАРТИНКИ ТАРИФА*/

.tariff__icon {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #5972b1;
    border-radius: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.tariff__icon-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tariff__name {
    width: 255px;
    height: 10px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #262626;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
}

.tariff__description {
    width: 190px;
    height: 150px;
    vertical-align: middle;
    margin: 0 auto;
}

.tariff__description p {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

.description__text {
    list-style-type: square;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #262424;
}

.tariff__price {
    text-align: center;
}

.price-currency {
    display: inline-block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
}

.price {
    display: inline-block;
    font-family: Roboto;
    font-size: 40px;
    color: #262626;
}


/*БЛОК 'НОВОСТИ'*/


/*БЛОК 'НОВОСТИ' ЗАГОЛОВОК*/

.news__main-title {
    height: 60px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #262424;
    margin-top: 0;
    margin-bottom: 10x;
}

.news__box {
    list-style-type: none;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 50px;
}

.news__content {
    display: inline-block;
}

.news__icon {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0 0 0 0;
    position: relative;
    width: 185px;
    height: 185px;
}

.news__icon-img {
    display: inline-block;
    margin: 0 0 0 0;
    position: relative;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.news__date {
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    color: #656464;
    margin-bottom: 15px;
}

.news__title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #262424;
    margin-top: 0;
    margin-bottom: 25px;
}

.news__content p {
    width: 650px;
    height: 165px;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #262424;
}

.footer__conteiner {
    background-color: #5972b1;
}

footer {
    margin: 0 auto;
    max-width: 1100px;
    height: 75px;
}

.footer__autor {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 50px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.autor__message,
.autor__name {
    font-family: Roboto;
    font-size: 14px;
    color: #fff;
}

.autor__message-link,
.autor__name-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer__img {
    display: inline-block;
    margin-left: 185px;
}

.footer__socil-links {
    display: inline-block;
    margin-left: 230px;
}


/*СОЦИАЛЬНЫЕ СЕТИ*/


/*СОЦИАЛЬНЫЙ СЕТИ -- ЗАГОЛОВОК*/

.socil-links__title {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.social-links {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

.links-pic {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pagination {
    width: 920px;
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
}

.pagination__list {
    display: inline-block;
}

.pagination__display {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    color: #656464;
}

.pagination__item--left {
    display: inline-block;
    position: relative;
}

.pagination__controlls {
    display: inline-block;
    margin: 0 auto;
}

.pagination__item {
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #262424;
}

.pagination__link {
    text-decoration: none;
    padding: 10px 10px;
    color: #000;
}

.left {
    color: #bfbfbf;
}

.pagination .active {
    background-color: #5972b1;
    color: #fff;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
}