.wrapper__content {
    display: flex;
    justify-content: center;
}

.page-content {
    padding-top: 15px;
}

.sidebar {
    padding-top: 45px;
    margin-right: 72px;
}

.menu__list {
    text-decoration: none;
}

.menu__item {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(89, 114, 177);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__link:before {
    content: "";
    display: inline-block;
    margin-right: 13px;
    width: 23px;
    height: 18px;
}

.menu__link {
    text-decoration: none;
    color: #5972b1;
}

.menu__link:visited {
    color: #5972b1;
}

.menu__item--icon--main .menu__link:before {
    background-image: url('./img/menubar/main_icon.png');
}

.menu__item--icon--feed .menu__link:before {
    background-image: url('./img/menubar/feed_icon.png');
}

.menu__item--icon--team .menu__link:before {
    background-image: url('./img/menubar/team_icon.png');
}

.visited {
    text-decoration: none;
    color: #000;
}


/*-----     Т А Р И Ф Ы     -----*/

.tariff {
    margin-bottom: 110px;
}

.tariff__main-title {
    font-family: Roboto;
    font-size: 49px;
    font-weight: bold;
    color: #262424;
    margin-top: 0px;
    margin-bottom: 70px;
}

.tariff__options {
    display: flex;
    justify-content: space-between;
}

.tariff__opt-variation {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tariff__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5972b1;
    border-radius: 50%;
    margin-bottom: 35px;
    width: 70px;
    height: 70px;
}

.tariff__name {
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #262626;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
}

.tariff__description {
    vertical-align: middle;
    margin-bottom: 35px;
}

.tariff__description p {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

.description__text {
    list-style-type: square;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #262424;
}

.tariff__price {
    text-align: center;
}

.price-currency {
    display: inline-block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
}

.price {
    display: inline-block;
    font-family: Roboto;
    font-size: 40px;
    color: #262626;
}


/*-----     Н О В О С Т И     -----*/

.single-news {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.single-news:last-child {
    margin-bottom: 0;
}

.news__main-title {
    font-family: Roboto;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #262424;
    margin-top: 0;
    margin-bottom: 10x;
}

.news__box {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 50px;
}

.news__icon {
    display: flex;
    width: 185px;
    height: 185px;
    margin-right: 20px;
}

.news__icon-img {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.news__date {
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    color: #656464;
    margin-bottom: 15px;
}

.news__title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #262424;
    margin-top: 0;
    margin-bottom: 25px;
}

.news__content p {
    width: 650px;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #262424;
}