.wrapper {
    overflow: hidden;
    min-height: 1100px;
}

body {
    margin: 0px;
}

.conteiner {
    background-color: #5973b1;
    position: relative;
    margin: 0px auto;
    width: 1100px;
    height: 76px;
}

.logo__img {
    position: absolute;
    top: 10px;
    left: 0;
    max-height: 100%;
}

.contacts__phone {
    font-size: 21px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 0;
}

.contacts__workhours {
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.702);
    font-weight: bold;
    position: absolute;
    left: 978px;
    top: 46px;
}

.menubar__content {
    list-style-type: none;
}

.menubar__link {
    text-decoration: none;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(89, 114, 177);
    font-weight: bold;
    /*position: absolute;
    left: 56.547px;
    top: 201.5px;*/
}

.tariff__options {
    list-style-type: none;
}

.tariff__descr-text {
    list-style-type: square;
}

.news__content {
    list-style-type: none;
}

.news__icon-img {
    position: absolute;
    max-height: 100%;
    border-radius: 50%;
}

.news__content p {}

.news__date {
    font-size: 14px;
    line-height: 21px;
    color: #656464;
}

.tariff__icon-img {
    background-color: #5972b1;
    max-height: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
}

footer {
    background-color: #5972b1;
}

.footer__img-pic {
    position: absolute;
    max-height: 100%;
    left: 490px;
    top: 2100px;
}

.socil-links-title {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 3.857;
    position: absolute;
    left: 926px;
    top: 2080px;
    z-index: 13;
}

ul.social-links-list li {
    position: absolute;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    left: 926px;
    top: 2120px;
    margin: 5px;
}