.page__content {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.sidebar {
    margin-right: 72px;
}

.menu__list {
    text-decoration: none;
}

.menu__item {
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(89, 114, 177);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__link:before {
    content: "";
    display: inline-block;
    margin-right: 13px;
    width: 23px;
    height: 18px;
}

.menu__link {
    text-decoration: none;
    color: #5972b1;
}

.menu__item--icon--main .menu__link:before {
    background-image: url('./img/menubar/main_icon_blue.png');
}

.menu__item--icon--feed .menu__link:before {
    background-image: url('./img/menubar/feed_icon.png');
}

.menu__item--icon--team .menu__link:before {
    background-image: url('./img/menubar/team_icon_black.png');
}

.menu__link.visited {
    text-decoration: none;
    color: #000;
}

.menu__link:hover {
    color: black;
}

.breadcrumbs {
    margin-bottom: 27px;
}

.breadcrumbs__menu {
    margin: 0;
    font-family: "Roboto";
}

.breadcrumbs__item,
.breadcrumbs__link {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:after {
    content: "/";
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #5972b1;
}

.breadcrumbs__link.active {
    color: #000;
    text-decoration: none;
}

.team {
    font-family: "Roboto";
    margin-bottom: 50px;
}

.team__staff {
    max-width: 860px;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

.staff__person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person__icon {
    display: flex;
    width: 168px;
    height: 168px;
    margin-bottom: 18px;
}

.alex::after {
    content: "Алексей";
    font-family: "Roboto";
    font-size: 24px;
    line-height: 160px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: rgb(89, 115, 177, 0.5);
    border-radius: 50%;
}

.inna::after {
    content: "Инна";
    font-family: "Roboto";
    font-size: 24px;
    line-height: 160px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: rgb(89, 115, 177, 0.5);
    border-radius: 50%;
}

.boris::after {
    content: "Борис";
    font-family: "Roboto";
    font-size: 24px;
    line-height: 160px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: rgb(89, 115, 177, 0.5);
    border-radius: 50%;
}

.elina::after {
    content: "Элина";
    font-family: "Roboto";
    font-size: 24px;
    line-height: 160px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: rgb(89, 115, 177, 0.5);
    border-radius: 50%;
}

.elena::after {
    content: "Елена";
    font-family: "Roboto";
    font-size: 24px;
    line-height: 160px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: rgb(89, 115, 177, 0.5);
    border-radius: 50%;
}

.yuri::after {
    content: "Юрий";
    font-family: "Roboto";
    font-size: 24px;
    line-height: 160px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 168px;
    height: 168px;
    background-color: rgb(89, 115, 177, 0.5);
    border-radius: 50%;
}

.person__icon-img {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.person__discription p {
    width: 260px;
    text-align: center;
}

.person__name {
    font-size: 20px;
    text-align: center;
}

.person__position {
    text-align: center;
}

.partner {
    display: flex;
    flex-direction: column;
}

.partner__main-title {
    font-family: "Roboto";
    font-size: 50px;
}

.partner__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 860px;
}

.list__links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-right: 60px;
    margin-bottom: 30px;
    height: 165px;
    width: 165px;
}

.list__links:hover {
    background-image: url(./img/partner/bingair.png) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-right: 60px;
    margin-bottom: 30px;
    height: 165px;
    width: 165px;
}

.partner__links {
    filter: grayscale(100%);
}

.partner__links:hover {
    filter: none;
}

.partner__links:last-child {
    margin-right: 0;
}